.arrow {
	&-lg {
		position: relative;
		&:after {
			content: '';
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-top: 15px solid #fff;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
			@media screen and (min-width: 480px){
				border-left: 130px solid transparent;
				border-right: 130px solid transparent;
				border-top: 39px solid #fff;
			}
			@media screen and (min-width: 769px){
				border-left: 200px solid transparent;
				border-right: 200px solid transparent;
				border-top: 60px solid #fff;
			}
		}
	}
	&-sm {
		position: relative;
		&:before {
			content: '';
			border-left: 200px solid transparent;
			border-right: 200px solid transparent;
			border-top: 30px solid #fff;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
		}
	}
}
