@import "icons/style";

.list{
	&-social{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		display: inline-flex;
		margin-right: 20px;
		li{
			a{
				text-decoration: none;
				color: #000;
			}
			+ li {
				margin-left: 16px;
			}
		}
		&-sm{
			li + li{
				margin-left: 15px;
			}
		}
	}
}
