.logos {
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;  
	justify-content:space-around;
	align-items: center;
	margin-bottom: 0px;
	padding-top: 0px;
	img{
		width: 35%;
		padding-bottom: 20px;
	}
	@media screen and (min-width: 480px) {
		img{
			width: auto;
			padding-bottom: 0;
		}
	}
	@media screen and (min-width: 769px) {
		margin-bottom: 104px;
		padding-top: 59px;
	}
}
