.page-header {
    overflow: hidden;
    margin: 15px 0;
    text-align: center;
    h1, .h1 {
        position: relative;
        margin: 0 0 24px;
        padding: 0 15px;
        display: inline-block;
        font-size: 15px;
        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            border-top: 1px solid $gray-lihter;
            width: 5000px;
        }
        &:after {
            left: 100%;
        }
        &:before {
            right: 100%;
        }
        .diamond {
			&:before, &:after{
				content: '';
				width: 9px;
				height: 9px;
				transform: rotate(45deg);
				background-color: $brand-secondary-color;
				display: inline-block;
				vertical-align: middle;
			}
			&:before{
				margin-right: 20px;
			}
			&:after{
				margin-left: 20px;
			}
		}
    }
    @media screen and (min-width: 480px){
		h1, .h1{
    		font-size: 30px;
    	}
    }
    @media screen and (min-width: 769px){
    	h1, .h1{
    		font-size: 30px;
    		padding: 0 95px;
    		.diamond {
				&:before, &:after{
					width: 15px;
					height: 15px;
				}
				&:before{
					margin-right: 93px;
				}
				&:after{
					margin-left: 93px;
				}
			}
    	}
    }
}