$icomoon-font-path: "fonts" !default;

$icon-clock-o: "\f017";
$icon-plane: "\f072";
$icon-phone: "\f095";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-feed: "\f09e";
$icon-rss: "\f09e";
$icon-pinterest: "\f0d2";
$icon-instagram: "\f16d";
$icon-life-bouy: "\f1cd";
$icon-life-buoy: "\f1cd";
$icon-life-ring: "\f1cd";
$icon-life-saver: "\f1cd";
$icon-support: "\f1cd";
$icon-cc-visa: "\f1f0";
$icon-cc-mastercard: "\f1f1";
$icon-cc-discover: "\f1f2";
$icon-cc-amex: "\f1f3";
$icon-chevron-down: "\e900";
$icon-chevron-small-down: "\e901";
$icon-chevron-up: "\e902";

